<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Feed on Canvas</title>
    <script src="../assets/ipc/androidjs.js"></script>
</head>
<body>
    <h1 id="logger">-></h1>
    <button onclick="checkServer()">recheck</button>
    <script>
        function loadMain(){
            window.location.href="main.html"
        }
        checkServer()
        function checkServer(){
            document.getElementById("logger").innerHTML=document.getElementById("logger").innerHTML+'checking'
        front.send('isUp?', 'hi');
    }

    front.on('serverUp', function(msg){
        if(msg == 0){
            setTimeout(checkServer, 100)
            
        }else{
            document.getElementById("logger").innerHTML=document.getElementById("logger").innerHTML+'serverUp'
            loadMain()
        }
        
        })
    </script>
</body>
</html>